<div class="grid-container">
  <h1><%= @collection.title %></h1>
  <p><%= @collection.description %></p>
  <% if current_user %> 
    <%= link_to "Add listing", new_des_path %>
    <% if current_user.id == @collection.user_id %>
      <%= link_to "Edit collection", edit_collection_path%>
    <% end %>
  <% end %>
  <%= link_to "Return to collections", collections_path%>
  <div class="inner-grid">
  <% for listing in @listings %>
    <div class="card" style="width: 33.333%">
      <% if listing.picture.attached? %>
        <%= image_tag listing.picture %>
      <% else %>
        <img class="card-img-top" src="https://content.linkedin.com/content/dam/me/learning/blog/2017/Junepics/Money.jpg" alt="Card image">
      <% end %>

      <%= link_to "#{listing.title}", desi_path(listing.id) %>
      <% if current_user && current_user.id == listing.user_id %>
        <%= link_to "Edit", edit_des_path(listing.id) %>
      <% end %>
      <%# link to listing page %>
    </div>
  <% end %>
  </div>
</div>
<br>