
<h1><%= @collection.title %></h1>
<p><%= @collection.description %></p>
<% if current_user %> 
  <%= link_to "Add listing", new_des_path, class: "navLink" %>
  <% if current_user.id == @collection.user_id %>
    <%= link_to "Edit collection", edit_collection_path, class: "navLink" %>
  <% end %>
<% end %>

<%= link_to "Return to collections", collections_path, class: "navLink"%>

<div class="album py-5">
  <div class="container">
    <div class="row">
      <% for listing in @listings %>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow bg-dark">
            <a href="<%= desi_path(listing.id) %>">
              <% if listing.picture.attached? %>
                <%= image_tag listing.picture, class: "card-img-top" %>
              <% else %>
                <img class="card-img-top " src="https://content.linkedin.com/content/dam/me/learning/blog/2017/Junepics/Money.jpg" alt="Card image">
              <% end %>
            </a>
            
            <p class="card-text bg-dark"><%= link_to "#{listing.title}", desi_path(listing.id) %>    |    $<%= listing.price %></p>
            <% if current_user && current_user.id == listing.user_id %>
              <div class="bg-dark">
                <%= form_with model: listing, local: true, method: "delete", class: "bg-dark" do |form| %>
                    <%= link_to "Edit", edit_des_path(listing.id), class: "btn btn-sm btn-outline-secondary" %>
                    <%= submit_tag "delete", class: "btn btn-sm btn-outline-secondary" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>