<h1><%= @design.title %></h1>
<p><%= @design.description %></p>

<br>

<%= image_tag @design.picture if @design.picture.attached? %>
<br>

<%= link_to "Edit", edit_des_path%>
<br>

<%= link_to "Return to collections", collections_path%>

