<h1><%= @listing.title %></h1>
<p><%= @listing.description %></p>
<br>

<div class="container">
  <% if @listing.picture.attached? %>
    <%= image_tag @listing.picture, class: "img-responsive img-rounded" %>
  <% else %>
    <img class="img-responsive img-rounded" src="https://content.linkedin.com/content/dam/me/learning/blog/2017/Junepics/Money.jpg" alt="money">
  <% end %>
</div>

<br>
<% if current_user %>
  <button data-stripe="payment">Pay Deposit <%= number_to_currency(30) %></button>
  <script src="https://js.stripe.com/v3/"></script>

  <script>
    document
      .querySelector("[data-stripe='payment']")
      .addEventListener("click", () => {
        const stripe = Stripe(
          "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
        );

        stripe.redirectToCheckout({
          sessionId: "<%= @session_id %>"
        });
      });
  </script>

  <br>
  <br>
  <% if current_user.id == @listing.user_id %>
    <%= link_to "Edit Listing", edit_des_path%>
  <% end %>
<% end %>
<br>



