<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class='container bg-dark' id='main' style=''>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse bg-dark" id="navbarColor01">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item bg-dark">
          <%= link_to "Home", root_path, class:"nav-link" %>
        </li>
        <li class="nav-item bg-dark">
          <%= link_to "Collections", collections_path, class: "nav-link" %>
        </li>
        <li class="nav-item bg-dark">
          <%= link_to "Listings", listings_path, class: "nav-link" %>
        </li>
        <li class="nav-item bg-dark">
          <%= link_to "About/Contact", about_path, class: "nav-link" %>
        </li>
      </ul>
      <form class="form-inline bg-dark ">
        <% if user_signed_in? %>
          <%= link_to "Log Out", destroy_user_session_path, class:"btn btn-outline-primary my-2 my-sm-0", :method => :delete %>
          <%= link_to 'Edit Profile', edit_user_registration_path, class:"btn btn-outline-primary my-2 my-sm-0" %>
        <% else %>
          <%= link_to("Sign In", new_user_session_path, class:"btn btn-outline-primary my-2 my-sm-0" ) %> 
        <% end %>
      </form>
    </div>
  </div>
</nav>